* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    line-height: 1.6;
    font-family: "Inter";
    font-style: normal;
    letter-spacing: .5px;
}

.fa-angle-right{
    font-size: 1rem;
    }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    
ul li {
    position: relative;
    }
    
ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    color: #333;
    }
    
ul li a:hover {
    background-color: #f6eded;
    }
    
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    
.dropdown li {
    display: block;
    position: relative; 
    padding: 10px;
    }
    
.dropdown li a {
    padding: 8px 16px;
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
    
.dropdown.active {
    display: block;
    }

.nested-dropdown {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 200px;
    }
    .nested-dropdown li {
    padding: 10px;
    }
    
    .nested-dropdown li a {
    text-decoration: none;
    color: #333;
    }
    
    .dropdown > li:hover > .nested-dropdown {
    display: block;
    }
    
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff !important; 
    color: black !important; 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 200px;
    top: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    }
    
    .dropdown-content a {
    display: block;
    padding: 10px 15px;
    color: #000 !important;; 
    text-decoration: none;
    background-color: #fff !important;
    }
    .dropdown-content a:hover {
    color: #EA4E43 !important; 
    opacity: 1 !important; 
    }
    
    .services-menu:hover .dropdown-content {
    display: block;
    width: fit-content;
    }
    
    .main-dropdown {
    list-style: none;
    padding: 0;
    margin: 0;
    }
    
    .main-dropdown > li {
    position: relative; 
    }
    .main-dropdown > li > a {
    display: block;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    }
    .main-dropdown > li > a:hover {
    background-color: #f0f0f0;
    color: red; 
    }
    .sub-dropdown {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    list-style: none;
    padding: 0;
    margin: 0;
    }
    .main-dropdown > li:hover > .sub-dropdown {
    display: block;
    }
    .sub-dropdown li {
    list-style: none;
    }
    
    .sub-dropdown a {
    padding: 8px 12px;
    display: block;
    color: #000;
    text-decoration: none;
    }
    
    .sub-dropdown a:hover {
    background-color: #f0f0f0;
    color: red; 
    }
    
    .header-logo-img {
    width: 13em;
    }
    
    header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1em 1.6em !important;
    background-color: #1E1312;
    font-family: 'Inter';
    
    }
    
    .nav {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Inter';
    font-size: 1.2em;
    font-weight: 600;
    text-wrap: nowrap;
    }
    
    .nav img {
    width: 50px;
    }
    
    .inner-nav {
    background-color: #1E1312;
    padding: 1em 3em;
    width: 50vw;
    border-radius: 45px;
    display: flex;
    justify-content: space-evenly;
    font-family: "Inter";
    }
    
    .inner-nav a {
    text-decoration: none;
    padding: 8px 15px;
    display: inline-block;
    }
    
    .inner-nav span a {
    color: #F6F5F4;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    }
    
    
    .inner-nav span {
        display: flex;
        align-items: center;
        position: relative;
        margin-right: 36px;
        text-wrap: nowrap;
    }
    
    .header-contact {
    margin-left: 5em;
    font-size: 1em;
    cursor: pointer;
    padding: 0.7em 2em;
    font-weight: 600;
    font-family: "Inter";
    color: white;
    background-color: #EF5A4C;
    border-radius: 5px;
    }
    
    .header-contact:hover {
    background-color: white;
    color: #EF5A4C;
    border: 1px solid #EF5A4C;
    }
    
    .header-contact:active {
    background-color: #F6F5F4;
    color: #EF5A4C;
    border: 1px solid #EF5A4C;
    }
    
    .menu {
    display: none;
    }
    
    .menu {
    filter: brightness(0) invert(1);
    }
    
    .sidebar {
    position: fixed;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: white;
    color: white;
    z-index: 1000;
    transition: right 0.3s ease;
    padding: 20px;
    padding-top: 2.2em;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    
    }
    
    #contact-us-link {
    display: none;
    }
    
    .sidebar ul {
    list-style: none;
    padding: 0;
    }
    
    .sidebar ul li {
    margin: 15px 0;
    background-color: #F6F5F4;
    padding: 0.5em 1em;
    border-radius: 12px;
    }
    
    .sidebar ul li a {
    color: #EA4E43;
    text-decoration: none;
    font-size: 1em;
    font-family: "Poppins";
    font-weight: bold;
    }
    
    .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    display: none;
    }
    
    body.no-scroll {
    overflow: hidden;
    }
    
    .sidebar-open {
    right: 0;
    }
    
    .overlay-active {
    display: block;
    }
    
    .closee {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 1.6em;
    cursor: pointer;
    }   

/* First Section */
s {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.s h2{
    margin: 5% 0% 2% 10%;
    font-size: 20px;
    width: 80%;
}
.first-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.first-section .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -27px;
    position: relative;
}

.first-section .staffing-solution {
    position: relative;
    height: 70%;
    width: 75%;
    text-align: center;
    margin-top: -84px;
    justify-content: center;
    background-color: #f8f8f8;
    border: 1px solid black;
    border-radius: 24px;
    padding: 5px 20px;
}

.staffing-solution h1 {
    font-size: 1.75rem;
    margin-top: 1rem;
    font-family: "Poppins";
    font-weight: 900;
}

.staffing-solution p {
    font-size: 1rem;
    color: gray;
    margin: 1rem;
}

.overview {
    width: 80%;
    margin: 30px;
}

.overview h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.overview p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #333;
}
/* Fourth Section */
.fourth{
    width: 100%;
    border-bottom: 2px solid  #fe696b;
}
.fourth > .grid-layouts-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E32C2E;
    color: white;
    padding: 0px 0px 40px;
}
.fourth  > .grid-layouts-content > h3 {
    padding: 50px 50px 0px 50px;
    font-size: 1.95rem;
}
.fourth> .grid-layouts-content > p{
    padding: 50px;
    width: 65%;
    text-align: justify;  
}
.grid-layout {
    width: 80%;
    display : flex;
    flex-direction: column;
}
.boxes {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #f8f8f8;
    color: black;
    padding: 70px 19px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin: 0px 4px 19px;
}
.boxes > h3{
   padding: 0px 0px 40px 50px;
}
.boxes > p{
    padding: 0px 25px;
 }
.contactus-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.contactus-section > h2 {
    padding: 10px;
}
.contactus-section > p {
    padding: 0px 0px 44px 0px;
}
.contactus-section > button {
    width: fit-content;
    padding: 13px 50px;
    border-radius: 30px;
    margin: 25px;
    background: #E32C2E;
    color: white;
    border: 2px solid white;
    font-size: 1.25rem;
    cursor: pointer;
}
.boxes:hover{
     background: #ff8e91;
     border: 1px solid orangered;
 }
 .contactus-section > button:hover{
  background: white;
  color: black;
  border: 1px solid  #ff0004b3;
 }


/* Footer  */
footer {
    background-color: white;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    justify-content: center;
}

.footer-logo {
    grid-column: 1 / 2;
    text-align: center;
}

.footer-logo h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.social-icons {
    text-align: center; 
}
.social-icons a:hover {
    color: #fe696b;
}

.social-icons a {
    font-size: 1.25rem;
    color: #000;
    margin: 0 10px;
}

.footer-links {
    grid-column: 2 / 5; 
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}

.footer-column {
    text-align: left;
}

.footer-column h3 {
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 20px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 10px;
}

.footer-column ul li a {
    color: #333;
    text-decoration: none;
}

.footer-column ul li a:hover {
    background: none;
    text-decoration: underline;
}

@media screen and (max-width: 1220px) {
    .inner-nav span a {
        font-size: 0.95rem;
    }
    .inner-nav span {
        margin-right: 7px;
        text-wrap: nowrap;
    }
    .inner-nav {
        padding: 1em 1em;
    }
}
@media screen and (max-width: 998px) {
    .inner-nav {
        display: none;
    }
    .menu-block {
        width: 48vw;
        display: flex;
        justify-content: end;
        cursor: pointer;
    
    }
    .menu {
        height: 2.8em;
        width: 4.8em;
        display: block;
    }
    }
    @media screen and (max-width: 836px) {
    .inner-nav {
        display: none;
    }
    .menu-block {
        width: 48vw;
        display: flex;
        justify-content: end;
        cursor: pointer;
    
    }
    
    .menu {
        height: 2.8em;
        width: 4.8em;
        display: block;
    }
    .footer-container {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        gap: 20px;
        justify-content: center;
        flex-direction: column;
    }
}
    
    @media screen and (max-width: 790px) {
    .menu-block {
        width: 48vw;
        display: flex;
        justify-content: end;
        padding-right: 0.4em;
    }
    
    .menu {
        height: 2.8em;
        width: 4.8em;
    }
    }
    
    
    @media screen and (max-width: 725px) {
    .menu-block {
        width: 48vw;
        display: flex;
        justify-content: end;
        padding-right: 0.4em;
    }
    
    .menu {
        height: 2.5em;
        width: 4.8em;
    }
    .header-contact {
        margin-left: auto;
        padding: 0.7em 1.6em;
        font-weight: 600;
    }
    .grid-layout {
        width: 80%;
        columns: 250px;
    }
    .footer-container {
        grid-template-columns: 1fr; 
        text-align: center; 
    }


    .footer-links {
        grid-template-columns: 1fr; 
        justify-items: center; 
    }

    .footer-column {
        text-align: center;
    }
}

    @media screen and (max-width: 677px) {
    .header-contact {
        margin-left: auto;
        padding: 0.7em 1.1em;
        background-color: #EF5A4C;
        border: 5px;
        border-radius: 5px;
        text-wrap: nowrap;
        font-size: 0.8rem;
    }
    }
    
@media screen and (max-width: 422px) {
    .menu-block {
        width: 90vw;
        display: flex;
        justify-content: end;
        padding-right: 0;
    }
    
    .header-logo-img {
        width: 12em;
        height: 2.8em;
    }
    
    
    .header-contact {
        display: none;
    }
    #contact-us-link {
        display: block;
        text-align: center;
        background-color: #EA4E43;
    
    }
    
    #contact-us-link a {
        color: white !important;
    }
    .container h2 {
        font-size: 40px;
    }
    .container .box-container .box {
        max-width: 90%;
    }
    .footer-logo h2 {
        font-size: 20px;
    }

    .footer-column h3 {
        font-size: 14px;
    }
    }   